#contact{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    background-color: aqua;
}
#contact form input,#contact form textarea{
    width: 100%;
}